* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #808bb9; */
    font-family: sans-serif;
  }

body {
  background-color: #808bb9;
}

header {
    vertical-align:middle;
    padding: 20px 35px;
    background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-position: 80%;
    color: whitesmoke;
    font-size: 30px;
    
  }

  #text-header {
      display: flex;
      justify-content: center;
      width: 100%;
      font-weight: bold;
      

  }


  h2 {
    text-align: center;
  }


#city-search, #search-history {
  border: 5px solid black;
}


  div.fiveDay {
    background-color: rgb(72, 72, 249);
    color: white;
  }